/* public\fonts\index.css */

/* Line-seedsans */

@font-face {
   font-family: 'line-seedsans-thin';
   src: url('./EOT/LINESeedSansTH_W_Th.eot');
   /* IE9 Compat Modes .eot */
   src: url('./EOT/LINESeedSansTH_W_Th.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 .eot */
      url('./WOFF2/LINESeedSansTH_W_Th.woff2') format('woff2'),
      /* Super Modern Browsers  .woff2*/
      url('./WOFF/LINESeedSansTH_W_Bd.woff') format('woff'),
      /* Pretty Modern Browsers  .woff*/
}

@font-face {
   font-family: 'line-seedsans-regular';
   src: url('./EOT/LINESeedSansTH_W_Rg.eot');
   /* IE9 Compat Modes .eot */
   src: url('./EOT/LINESeedSansTH_W_Rg.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 .eot */
      url('./WOFF2/LINESeedSansTH_W_Rg.woff2') format('woff2'),
      /* Super Modern Browsers  .woff2*/
      url('./WOFF/LINESeedSansTH_W_Rg.woff') format('woff'),
      /* Pretty Modern Browsers  .woff*/
}

@font-face {
   font-family: 'line-seedsans-bold';
   src: url('./EOT/LINESeedSansTH_W_Bd.eot');
   /* IE9 Compat Modes .eot */
   src: url('./EOT/LINESeedSansTH_W_Bd.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 .eot */
      url('./WOFF2/LINESeedSansTH_W_Bd.woff2') format('woff2'),
      /* Super Modern Browsers  .woff2*/
      url('./WOFF/LINESeedSansTH_W_Bd.woff') format('woff'),
      /* Pretty Modern Browsers  .woff*/
}

@font-face {
   font-family: 'line-seedsans-extra-bold';
   src: url('./EOT/LINESeedSansTH_W_XBd.eot');
   /* IE9 Compat Modes .eot */
   src: url('./EOT/LINESeedSansTH_W_XBd.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 .eot */
      url('./WOFF2/LINESeedSansTH_W_XBd.woff2') format('woff2'),
      /* Super Modern Browsers  .woff2*/
      url('./WOFF/LINESeedSansTH_W_XBd.woff') format('woff'),
      /* Pretty Modern Browsers  .woff*/
}

@font-face {
   font-family: 'line-seedsans-heavy';
   src: url('./EOT/LINESeedSansTH_W_He.eot');
   /* IE9 Compat Modes .eot */
   src: url('./EOT/LINESeedSansTH_W_He.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 .eot */
      url('./WOFF2/LINESeedSansTH_W_He.woff2') format('woff2'),
      /* Super Modern Browsers  .woff2*/
      url('./WOFF/LINESeedSansTH_W_He.woff') format('woff'),
      /* Pretty Modern Browsers  .woff*/
}

/* Line-seedsans */


/* Sukhumvit */

@font-face {
   font-family: 'sukhumvit-thin-web';
   src: url('./sukhumvit/eot/sukhumvit-set_text-webfont.eot');
   /* IE9 Compat Modes .eot */
   src: url('./sukhumvit/eot/sukhumvit-set_text-webfont.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 .eot */
      url('./sukhumvit/woff2/sukhumvit-set_text-webfont.woff2') format('woff2'),
      /* Super Modern Browsers  .woff2*/
      url('./sukhumvit/woff/sukhumvit-set_text-webfont.woff') format('woff'),
      /* Pretty Modern Browsers  .woff*/
      url('./sukhumvit/ttf/SukhumvitSet-Text.ttf') format('truetype');
   /* Safari, Android, iOS */
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'sukhumvit-bold-web';
   src: url('./sukhumvit/eot/sukhumvit-set_bold-webfont.eot');
   /* IE9 Compat Modes .eot */
   src: url('./sukhumvit/eot/sukhumvit-set_bold-webfont.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 .eot */
      url('./sukhumvit/woff2/sukhumvit-set_bold-webfont.woff2') format('woff2'),
      /* Super Modern Browsers  .woff2*/
      url('./sukhumvit/woff/sukhumvit-set_bold-webfont.woff') format('woff'),
      /* Pretty Modern Browsers  .woff*/
      url('./sukhumvit/ttf/SukhumvitSet-Bold.ttf') format('truetype');
   /* Safari, Android, iOS */
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'sukhumvit-medium-web';
   src: url('./sukhumvit/eot/sukhumvit-set_medium-webfont.eot');
   /* IE9 Compat Modes .eot */
   src: url('./sukhumvit/eot/sukhumvit-set_medium-webfont.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 .eot */
      url('./sukhumvit/woff2/sukhumvit-set_medium-webfont.woff2') format('woff2'),
      /* Super Modern Browsers  .woff2*/
      url('./sukhumvit/woff/sukhumvit-set_medium-webfont.woff') format('woff'),
      /* Pretty Modern Browsers  .woff*/
      url('./sukhumvit/ttf/SukhumvitSet-Medium.ttf') format('truetype');
   /* Safari, Android, iOS */
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'sukhumvit-semibold-web';
   src: url('./sukhumvit/eot/sukhumvit-set_semibold-webfont.eot');
   /* IE9 Compat Modes .eot */
   src: url('./sukhumvit/eot/sukhumvit-set_semibold-webfont.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 .eot */
      url('./sukhumvit/woff2/sukhumvit-set_semibold-webfont.woff2') format('woff2'),
      /* Super Modern Browsers  .woff2*/
      url('./sukhumvit/woff/sukhumvit-set_semibold-webfont.woff') format('woff'),
      /* Pretty Modern Browsers  .woff*/
      url('./sukhumvit/ttf/SukhumvitSet-SemiBold.ttf') format('truetype');
   /* Safari, Android, iOS */
   font-weight: normal;
   font-style: normal;
}

/* Sukhumvit */