/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

/* fonts */
@import url(./assets/fonts/index.css);

/* lazy image */
@import 'react-lazy-load-image-component/src/effects/blur.css';

/* map */
@import 'mapbox-gl/dist/mapbox-gl.css';

/* editor */
@import 'react-quill/dist/quill.snow.css';

/* carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* lightbox */
@import 'yet-another-react-lightbox/styles.css';
@import 'yet-another-react-lightbox/plugins/captions.css';
@import 'yet-another-react-lightbox/plugins/thumbnails.css';

body {
    font-family: 'line-seedsans-regular', sans-serif;

}

.blockbuilder-preview {
    background-color: yellow;
    background-image: none;
}

.nml__editor__content__root .tiptap .nml__editor__content__image {
    max-width: 600px!important;
    margin: auto!important;
    display: flex !important;
}